<% layout('\\layout\\main') %>
<% block('title', 'Chat') %>

<script src="/socket.io/socket.io.js"></script>

<p>Hello, <%= user.get('username') %></p>

<div id="room">
    <ul></ul>
    <form>
        <input type="text" class="form-control" autocomplete="off" autofocus placeholder="Message...">
    </form>
</div>

<script>
    var socket = io.connect('', {
        reconnectionDelay: 10,
        reconnectionAttempts: 10
    });

    // Seems like auto reconnection bugs described in screencast are fixed in current version 1.0.
    // No need to implement reconnection manually.

    socket.on('connect', function () {
        console.log('-> Connection established.');
    });

    socket.on('disconnect', function () {
        console.log('-> Connection lost.');
    });

    socket.on('reconnect_failed', function () {
        console.log('-> Connection died.');
    });

    var form = $('form');
    var ul = $('#room ul');

    form.submit(function () {
        var input = $(this).find(':input');
        var text = input.val();
        input.val('');

        socket.emit('message', text, function (data) {
            console.log(data);
            $('<li>', {text: text}).appendTo(ul);
        });

        return false;
    });

    socket.on('message', function (text) {
        $('<li>', {text: text}).appendTo(ul);
    });
</script>