<!DOCTYPE html>
<html>
  <head>
    <title>My chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Chat</h1>
    <p>Welcome to the Chat!</p>

    <%= body %>
    <%- body %>

  </body>
</html>